<% if resource.errors.any? %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <% if resource.errors.full_messages.size > 1 %>
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    <% else %>
      <%= resource.errors.full_messages.first %>
    <% end %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>
