<div class="d-flex align-items-center min-h-100">
  <div class="w-100 d-flex flex-column align-items-center">
    <section class="w-100 mb-5 text-center">
      <h1 class="mb-3 fs-5 fw-bold">Profil Anda</h1>
      <div class="mw-md-50 mx-auto p-3 border rounded shadow">
        <%
          data = {
            "NIM" => "0123456789",
            "Nama Lengkap" => "John Doe",
            "Tempat Lahir" => "Indonesia",
            "Tanggal Lahir" => "01/01/1999"
          }
        %>
        <% data.each do |key, value| %>
          <div class="row">
            <div class="col-5 border-end text-end">
              <%= key %>
            </div>
            <div class="col-7 text-muted">
              <div class="d-flex align-items-center">
                <%= value %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>

    <section class="text-center">
      <p>Siap memilih?</p>
      <%= link_to 'Siap!', '#', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
