<div class="w-100 h-100 d-flex align-items-center justify-content-center">
  <div class="card mw-md-50 p-3 text-center">
    <% if @candidates.count > 1 %>
      <h1 class="fs-5 fw-bold">Perhitungan Suara <span class="badge bg-danger">LIVE</span></h1>
      <canvas id="livecount-chart" width="400" height="400" class="mb-3"></canvas>
      <div class="small text-muted">
        Terakhir kali diperbaharui: <span id="time-of-update">belum ada</span>
      </div>
    <% else %>
      Jumlah kandidat belum cukup.
    <% end %>
  </div>
</div>

<% if @candidates.count > 1 %>
  <script>
    (() => {
      if (liveCountChart) liveCountChart.destroy();
      var liveCountChart = new Chart(
        document.getElementById('livecount-chart').getContext('2d'),
        {
          type: 'pie',
          data: {
            labels: [
              <%= @candidates.map { |candidate| "'#{candidate.name}'"}.join(', ').html_safe %>
            ],
            datasets: [{
              label: 'Perhitungan Suara',
              data: [
                <%= @candidates.map { |candidate| candidate.votes.count }.join(', ') %>
              ],
              backgroundColor: [
                <%= Array.new(@candidates.count) { "'##{Random.bytes(3).unpack1('H*')}'" }.join(', ').html_safe %>
              ],
              hoverOffset: 4
            }]
          },
          options: {
            plugins: {
              tooltip: {
                enabled: false
              },
              datalabels: {
                formatter: (value, ctx) => {
                  let sum = 0;
                  let dataArr = ctx.chart.data.datasets[0].data;
                  dataArr.map(data => {
                      sum += data;
                  });
                  let percentage = (value*100 / sum).toFixed(2)+"%";
                  return percentage;
                },
                color: '#fff',
              }
            }
          }
        }
      );

      if (intervalToUpdateLiveCount) clearInterval(intervalToUpdateLiveCount);
      var intervalToUpdateLiveCount = setInterval(() => {
        document.getElementById('time-of-update').textContent = dayjs().format('DD/MM/YYYY HH:mm:ss Z');

        $.ajax({
          url: '<%= live_path :json %>',
          method: 'GET',
          success: (data) => {
          liveCountChart.data.datasets[0].data = data.votes;
          liveCountChart.update();
          }
        });
      }, 10000);
    })();
  </script>
<% end %>
