@import "bootstrap";
@import "devise";

:root {
  --top-nav-height: 4.5rem; // offset height
  --bottom-nav-height: 4.5rem; // offset height
  --main-padding-y: 1rem;
}

body {
  font-family: "Roboto Slab", serif;
  height: 100vh;
  overflow: hidden;
}

.top-nav {
  height: var(--top-nav-height);
}

.bottom-nav {
  height: var(--bottom-nav-height);
}

main {
  margin-top: var(--top-nav-height);
  padding-top: var(--main-padding-y);
  padding-bottom: var(--main-padding-y);
  height: calc(100% - var(--top-nav-height));
  overflow: auto;
  background-color: #ED1B24;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  &.bottom {
    height: calc(100% - (var(--top-nav-height) + var(--bottom-nav-height)));
  }
}

@media (max-width: 768px) {
  main {
    background-image: url('../../assets/images/background-mobile.jpg');
  }
}

@media (min-width: 769px) {
  main {
    background-image: url('../../assets/images/background.jpg');
  }
}

.navbar-brand {
  font-weight: bold;
  letter-spacing: 1pt;
}

.home-nav {
  width: 25rem;
}

.toast-container {
  position: absolute;
  top: calc(1.5rem + var(--top-nav-height));
  left: 50%;
  transform: translateX(-50%);
}

.card {
  background-color: #fff9;
  backdrop-filter: blur(15px);
}
