<p>Halo <strong><%= @email %></strong>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Kami menghubungi kamu untuk memberitahu kamu bahwa email kamu sedang diganti menjadi <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Kami menghubungi kamu untuk memberitahu kamu bahwa email kamu sudah diganti menjadi <%= @resource.email %>.</p>
<% end %>
