<p>Halo <strong><%= @resource.email %></strong>!</p>

<p>Kamu telah meminta untuk mengganti sandi kamu. Kamu bisa melakukannya lewat tautan berikut:</p>

<p><%= link_to 'Ganti sandi saya', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Jika kamu tidak memintanya, tolong hiraukan email ini.</p>
<p>Sandi kamu tidak akan berubah sampai kamu mengakses tautan di atas dan membuat sandi baru.</p>
